<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> Bienvenido, administrador </mat-card-title>
    <mat-card-subtitle class="subtitle">
      Sistema gestor de centro Veterinario
    </mat-card-subtitle>
  </mat-card>
  
  <br />
  
  <div class="container">
    <div>
      <img class="indexLogo" src="assets/img/logoB.png" alt="logo" />
    </div>
   </div> 
  
   <div class=container>
    <div>
      <a routerLink="/cliente">
        <img class="btnIndex" 
        src="assets/btn/UserBtn.png" 
        title="Gestion de Clientes"
        />
      </a>
    </div>
    <div>
      <a routerLink="/cita">
        <img class="btnIndex" 
        src="assets/btn/CalBtn.png" 
          title="Gestion de Citas"/>
      </a>
    </div>
    <div>
      <a  routerLink="/veterinario">
        <img class="btnIndex" 
        src="assets/btn/VetBtn.png" 
          title="Gestion de Veterinarios"/>
      </a>
    </div>
    <div>
      <a a routerLink="/tratamiento">
        <img class="btnIndex" 
        src="assets/btn/TreatBtn.png" 
          title="Gestion de Tratamientos"/>
      </a>
    </div>
  
    <div>
      <a routerLink="/diagnostico">
        <img class="btnIndex" 
        src="assets/btn/DiagBtn.png" 
        title="Gestion de Diagnosticos"/>
      </a>
    </div>
   </div><!-- FIN DE GRID -->
  
  
  
  
  
   
  
  
