<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Bienvenido, administrador </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Sistema gestor de centro Veterinario
  </mat-card-subtitle>
</mat-card>

<div class="container">
  <div class="row">
    <img class="indexLogo" src="assets/img/logoB.png" alt="logo" />
  </div>
  <div class="row">
    <div class="icon-link">
      <a routerLink="/cita">
        <img
          class="btnIndex"
          src="assets/btn/CalBtn.png"
          title="Gestion de Citas"
        />
      </a>
    </div>

    <div class="icon-link">
      <a routerLink="/cliente">
        <img
          class="btnIndex"
          src="assets/btn/UserBtn.png"
          title="Gestion de Clientes"
        />
      </a>
    </div>

    <div class="icon-link">
      <a routerLink="/veterinario">
        <img
          class="btnIndex"
          src="assets/btn/VetBtn.png"
          title="Gestion de Veterinarios"
        />
      </a>
    </div>
    <div class="icon-link">
      <a a routerLink="/tratamiento">
        <img
          class="btnIndex"
          src="assets/btn/TreatBtn.png"
          title="Gestion de Tratamientos"
        />
      </a>
    </div>
  </div>
</div>
