button {
    margin-bottom: 30px;
  }
  
  .dialogCase {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 600px;
    border-radius: 2px;
  }
  
  .title {
    text-align: center;
  }

  .mat-mini-fab {
    margin-bottom: 0 !important;
    margin-left: auto;
  }

  #download {
    display: none;
  }